@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  html {
    color-scheme: light !important;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background:
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer components {
  html {
    @apply layout-fix
  }
  
  .layout-fix {
    @apply SD:SD HD:HD FHD:FHD QHD:QHD UHD:UHD LAP_16:LAP_16
  }

  .SD {
    @apply text-[6px]
  }

  .HD {
    @apply text-[12px]
  }

  .FHD {
    @apply text-[16px]
  }

  .QHD {
    @apply text-[24px]
  }

  .UHD {
    @apply text-[32px]
  }

  .LAP_16 {
    @apply text-[28px]
  }
}